<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.onepf.openiab"
        version="0.0.1">

    <name>OpenIAB</name>
    <description>Cordova OpenIAB Plugin</description>
    <author>One Platform Foundation</author>
    <license>Apache 2.0</license>
    <keywords>cordova, billing, android, openiab, inapp</keywords>
   
    <platform name="android">

        <js-module src="www/openiab.js" name="openiab">
            <clobbers target="openiab" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenIabCordovaPlugin">
                <param name="android-package" value="org.onepf.openiab.cordova.OpenIabCordovaPlugin"/>
            </feature>
        </config-file>
       
        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.RECEIVE_SMS" />
			<uses-permission android:name="android.permission.SEND_SMS" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-feature     android:name="android.hardware.telephony"        android:required="false" />
			<uses-permission android:name="android.permission.RECEIVE_SMS" />
			<uses-permission android:name="android.permission.SEND_SMS" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />		  
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			  <!--Fortumo start-->
			        <receiver android:name="mp.MpSMSReceiver">
			            <intent-filter>
			                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
			            </intent-filter>
			        </receiver>
			
			        <service android:name="mp.MpService" />
			        <service android:name="mp.StatusUpdateService" />
			
			        <activity
			            android:name="mp.MpActivity"
			            android:configChanges="orientation|keyboardHidden|screenSize"
			            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
			        <!--Fortumo end-->
        </config-file>

        <!-- It's a pity, but all source files should be listed here -->
        <source-file src="android/src/PaymentConstants.java" target-dir="src/org/onepf/openiab/cordova" />
        <source-file src="android/src/OpenIabCordovaPlugin.java" target-dir="src/org/onepf/openiab/cordova" />
        <source-file src="android/src/Serialization.java" target-dir="src/org/onepf/openiab/cordova" />

        <!-- Libraries -->  
        <source-file src="android/libs/FortumoInApp-android-9.1.2-o.jar" target-dir="libs" />   

    </platform>
</plugin>
